VIEW_MODE: [#VIEW_MODE#]
TAB: [#TAB#]
TITLE: [#TITLE#]

<!-- table zwave_devices search -->


	 <ul class="nav nav-tabs">
 [#if VIEW_MODE=""||VIEW_MODE="update_log"#]
<li [#if TAB=="" || TAB=="indata" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=devices">Devices</a> </li>
<li [#if TAB=="settings" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=settings">Settings</a> </li>
<li [#if TAB=="map" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=map">Map</a> </li>
<li [#if TAB=="log" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=log">Log</a> </li>
<li [#if TAB=="service" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=service">Service</a> </li>
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=help">Help</a> </li>	

<li [#if TAB=="cicle" #] class="active" [#endif#]>

	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]


	[#if PERMIT=="1"#]
		<span class="label label-success" title="Открыт для сопряжения">Открыт для сопряжения</span>
	[#else#]
		<span class="label label-danger" title="Закрыт  для сопряжения">Закрыт  для сопряжения</span>
	[#endif#]



 </li>	



</ul>
 [#endif#] 

 <!-- action usual -->
 <!-- table mqtt search -->
 [#if TAB="" || TAB="devices"#]
 [#if VIEW_MODE=""#] [#inc devices.html#] [#endif#]
 [#endif#]

 [#if VIEW_MODE="view_mqtt"#]
	 <ul class="nav nav-tabs">
<li [#if TAB=="edit_device" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=edit_device">Edit device</a> </li>
<li [#if TAB=="edit_parametrs" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=edit_parametrs">Parameters</a> </li>
<li [#if TAB=="view_det" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=view_det">Detail</a> </li>
<li [#if TAB=="edit_data" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=edit_data">Data</a> </li>
</ul>
 [#endif#]


  [#if TAB="edit_device"#]
  [#inc edit_device.html#]
  [#endif#]


  [#if TAB="view_det"#]
  [#inc view_det.html#]
  [#endif#]

  [#if TAB="edit_parametrs"#]
  [#inc edit_parametrs.html#]
  [#endif#]



  [#if TAB="edit_data"#]
  [#inc mqtt_search_admin.html#]
  [#endif#]


 <!-- / table mqtt search -->
 <!-- table mqtt edit -->
 [#if VIEW_MODE="edit_mqtt"#]
   [#inc mqtt_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table mqtt edit -->
 <!-- table mqtt view --> 
 [#if VIEW_MODE="view_mqtt"#]
   [#inc mqtt_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table mqtt view -->

[#endif#]

[#if TAB="log"#] [#inc log.html#] [#endif#]
[#if TAB="settings"#] [#inc settings.html#] [#endif#]
[#if TAB="service"#] [#inc service.html#] [#endif#]
[#if TAB="map"#] [#inc map.html#] [#endif#]
[#if TAB="help"#] [#inc help.html#] [#endif#]



