<!--

VIEW_MODE: [#VIEW_MODE#]
TAB: [#TAB#]
TITLE: [#TITLE#]
DATASOURCE: [#DATA_SOURCE#]
<!-- table zwave_devices search -->
 [#if VIEW_MODE=""||VIEW_MODE="update_log"#]
	 <ul class="nav nav-tabs">
<li [#if TAB=="" || TAB=="devices" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=devices"><#LANG_DEVICES#></a> </li>
<!-- <li [#if TAB=="table" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=table">Devices table</a> </li>-->
<!--<li [#if TAB=="groups" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=groups"><#LANG_GROUPS#></a> </li> -->
<li [#if TAB=="bind" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=bind">Bind</a> </li>
<li [#if TAB=="settings" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=settings"><#LANG_SECTION_SETTINGS#></a> </li>
<li [#if TAB=="map" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=map"><#LANG_MAP#></a> </li>




[#if ZIGBEE2MQTTPATH<>""#]
<li [#if TAB=="log" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=log">Zigbee2mqtt Log</a> </li>
   [#endif#]

   [#begin slsdev#]
        <li [#if "<#TAB#>"=="slslog" && IP=="<#SLSIPP#>"#] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=slslog&slsipp=[#IP#]">SLS ZGW Log ([#IP#])</a> </li>
   [#end slsdev#]
<li [#if TAB=="log2" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=log2">Majorodmo Log</a> </li>
<li [#if TAB=="service" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=service"><#LANG_GENERAL_SERVICE#></a> </li>
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=help"><#LANG_MARKET_CATEGORY_INFORMATION#></a> </li>	


	[#if CYCLERUN==1#]
<!--		<span class="label label-success" title="Статус цикла"><a href="?view_mode=cycle_start"  title="Цикл запущен" ><font color="white" >Цикл</span></font></a> -->
	[#else#]
		<span class="label label-danger" title="Статус цикла"><a href="?view_mode=cycle_start"  title="Цикл остановлен, нажатие перезапустит" ><font color="white" >Цикл</font></span></a>
	[#endif#]


   [#begin gwstatus#]

[#if SEEN2==1#]
<!--  <span class="label label-success" title="Приложение [#PERMITNAME#] работает [#SEEN#]">статус [#PERMITNAME#]</span>-->
	[#else#]
		<span class="label label-danger" title="Приложение [#PERMITNAME#] не работает [#SEEN#]">статус [#PERMITNAME#]</span>
	[#endif#]

[#if PERMITSTATUS=="1"#]
<span class="label label-success" title="Открыт для сопряжения">  <a href="?view_mode=stoppairing&gw=[#PERMITNAME#]"  title="Открыт для подключения новых устройств, нажатие переключит режим. " ><font color="white" >Сопряжение [#PERMITNAME#]</font></span></a>
	[#else#]
<span class="label label-danger" title="Закрыт  для сопряжения">   <a href="?view_mode=startpairing&gw=[#PERMITNAME#]"  title="Закрыт  для покдлючения новых устройств, нажатие переключит режим." ><font color="white" >Сопряжение [#PERMITNAME#]</font></span></a>
	[#endif#]


   [#end gwstatus#]





</ul>
 [#endif#] 

 <!-- action usual -->
 <!-- table mqtt search -->
 [#if TAB="" || TAB="devices"#]
 [#if VIEW_MODE=""#] 

[#if Z2M_VIEW="table"#]
[#inc devices_old.html#] 
[#else#]
[#inc devices.html#] 
[#endif#]


[#endif#]
 [#endif#]

 [#if  TAB="table"#]
 [#if VIEW_MODE=""#] [#inc devices_old.html#] [#endif#]
 [#endif#]

 [#if VIEW_MODE="view_mqtt"#]
	 <ul class="nav nav-tabs">
<li [#if TAB=="edit_device" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=edit_device">Edit device</a> </li>
<li [#if TAB=="edit_parametrs" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=edit_parametrs">Parameters</a> </li>
<li [#if TAB=="view_det" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=view_det">Detail</a> </li>
<li [#if TAB=="device_log" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=device_log">Device log</a> </li>
<!--<li [#if TAB=="edit_data" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=view_mqtt&id=<#ID#>&tab=edit_data">Data</a> </li> -->
</ul>
 [#endif#]


  [#if TAB="edit_device"#]
  [#inc edit_device.html#]
  [#endif#]


  [#if TAB="view_det"#]
  [#inc view_det.html#]
  [#endif#]

  [#if TAB="device_log"#]
  [#inc device_log.html#]
  [#endif#]


  [#if TAB="edit_parametrs"#]
  [#inc edit_parametrs.html#]
  [#endif#]



  [#if TAB="edit_data"#]
  [#inc mqtt_search_admin.html#]
  [#endif#]


 <!-- / table mqtt search -->
 <!-- table mqtt edit -->
 [#if VIEW_MODE="edit_mqtt"#]
   [#inc mqtt_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table mqtt edit -->
 <!-- table mqtt view --> 
 [#if VIEW_MODE="view_mqtt"#]
   [#inc mqtt_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table mqtt view -->

[#endif#]

[#if TAB="groups"#] [#inc groups.html#] [#endif#]
[#if TAB="log"#] [#inc log.html#] [#endif#]
[#if TAB="slslog"#] [#inc slslog.html#] [#endif#]
[#if TAB="log2"#] [#inc log2.html#] [#endif#]
[#if TAB="bind"#] [#inc bind.html#] [#endif#]
[#if TAB="settings"#] [#inc settings.html#] [#endif#]
[#if TAB="service"#] [#inc service.html#] [#endif#]

[#if TAB="map"#] 


	 <ul class="metro">

<li [#if  VIZ=="" || VIZ=="1" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=map&viz=1">VIZ</a> </li>
<li [#if VIZ=="2" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=map&viz=2">Graphwiz</a> </li>
</ul>



[#if VIZ=="" || VIZ=="1" #] [#inc viz.html#]  [#endif#]
[#if VIZ=="2" #] [#inc graphwiz.html#]  [#endif#] 


[#endif#]



[#if TAB="help"#] [#inc help.html#] [#endif#]


