<br>

<form action="?" method="post" name="frmList_mqtt" style="padding:0px" class="form">

<table width=100% border=0>
<tr>
<td valign=top>
<!-- results -->

<!-- paging -->


<!-- / paging -->
<!-- search results (list) -->

<!--[#ACTION#]
<#SETTINGS_THEME#>






  <div class="col-md-3">
  <select class="form-control" name="vid_id" onChange="document.frmList_mqtt.submit();">
   <option value="0"[#if VID="0"#] selected[#endif#]>Фильтр по типу устройств (<#LANG_ALL#>)
   <option value="1"[#if VID="1"#] selected[#endif#]>Устройства
   <option value="2"[#if VID="2"#] selected[#endif#]>Группы

  </select>
  </div>


-->


  <div class="col-md-3">
  <select class="form-control" name="type_id" onChange="document.frmList_mqtt.submit();">



      <option value="0">Фильтр по типу устройств (<#LANG_ALL#>)
   [#begin ZIGBEE2MQTTTYPE#]
   <option value="[#ID#]" [#if ID="<#ZIGBEE2MQTTDEV#>"#] selected[#endif#]>[#TYPE#]
   [#end ZIGBEE2MQTTTYPE#]
  </select>
  </div>


  <div class="col-md-3">
  <select class="form-control" name="vendor_id" onChange="document.frmList_mqtt.submit();">



      <option value="0">Фильтр производителю (<#LANG_ALL#>)
   [#begin VENDORARRAY#]
   <option value="[#ID#]" [#if ID="<#VENDOR#>"#] selected[#endif#]>[#TYPE#]
   [#end VENDORARRAY#]
  </select>
  </div>



  <div class="col-md-3">

  <select class="form-control" name="location_id" onChange="document.frmList_mqtt.submit();">
   <option value="0"><#LANG_FILTER_BY_LOCATION#> (<#LANG_ALL#>)
   [#begin LOCATIONS#]
   <option value="[#ID#]"[#if ID="<#LOCATION_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end LOCATIONS#]
  </select>
  </div>




<!--<button type="submit" name="subm" value="Submit" class="btn btn-default"><#LANG_SEARCH#></button> -->
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_z2m">
<input type="hidden" name="action" value="zigbee2mqtt">
<input type="hidden" name="md" value="panel">
</form>




<hr>

<br>


<table width=100% >

<tr>
 <th>

 </th>
 <th>ID </th>
 <th>TITLE </th>
 <th>BATTERY </th>

 <th>VENDOR </th>
 <th>TYPE </th>
 <th>LOCATION </th>

 <th> GROUP </th>

 <th>UPDATED </th>


</tr>
</thead>
<tbody>
[#begin DEVICES#]
<tr>



 <td>
[#if SELECTTYPE#]
<img src="../templates/zigbee2mqtt/img/[#SELECTTYPE#].jpg"  height="62" width="62" class="img-rounded">
[#endif#]
<!--
[#if TITLE="bridge"#]
<img src="../templates/zigbee2mqtt/img/cc2531.jpg"  height="52" width="52" class="img-rounded">
[#endif#]
-->

</td>
 <td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
>[#DEVID#]</td>
 <td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
>

   <a href="?view_mode=view_mqtt&id=[#DEVID#]&tab=edit_device"  title="<#LANG_EDIT#>">
<b>[#TITLE#]
</b>
</a>

<!--
<table border =0 width=100%><tr><td>
[#TITLE#]</td>
<td align="left">
[#if POWER_WARNING<>""#]
<span class="label label-[#POWER_WARNING#]"><i class="glyphicon glyphicon-flash"></i> [#BATTERY#]%</span>
[#endif#]
</td></tr></table>



</b>
</a>
-->


[#if LINKED!=""#]
<left><small><br>  [#LINKED#]</small></left>
[#endif#]

[#if CHANGEABLE="1"#]
<br>
<left><small> 
   <a href="?view_mode=device_on&id=[#DEVID#]&tab=&location=<#LOCATION_ID#>&type_id=<#ZIGBEE2MQTTDEV#>&vendor_id=<#VENDOR#>&vid_id=<#VID#>"  title="<#LANG_EDIT#>"> ON </a>
   <a href="?view_mode=device_off&id=[#DEVID#]&tab=&location=<#LOCATION_ID#>&type_id=<#ZIGBEE2MQTTDEV#>&vendor_id=<#VENDOR#>&vid_id=<#VID#>"  title="<#LANG_EDIT#>"> OFF </a>

</small></left>
[#endif#]

[#if CHANGEABLE="2"#]
<br>
<left><small> 
   <a href="?view_mode=device_on&id=[#DEVID#]&tab=&location=<#LOCATION_ID#>&type_id=<#ZIGBEE2MQTTDEV#>&vendor_id=<#VENDOR#>&vid_id=<#VID#>"  title="<#LANG_EDIT#>"> ON </a>
   <a href="?view_mode=device_off&id=[#DEVID#]&tab=&location=<#LOCATION_ID#>&type_id=<#ZIGBEE2MQTTDEV#>&vendor_id=<#VENDOR#>&vid_id=<#VID#>"  title="<#LANG_EDIT#>"> OFF </a>
|
   <a href="?view_mode=device_on_right&id=[#DEVID#]&tab=&location=<#LOCATION_ID#>&type_id=<#ZIGBEE2MQTTDEV#>&vendor_id=<#VENDOR#>&vid_id=<#VID#>"  title="<#LANG_EDIT#>"> ON </a>
   <a href="?view_mode=device_off_right&id=[#DEVID#]&tab=&location=<#LOCATION_ID#>&type_id=<#ZIGBEE2MQTTDEV#>&vendor_id=<#VENDOR#>&vid_id=<#VID#>"  title="<#LANG_EDIT#>"> OFF </a>

</small></left>
[#endif#]





</td>

<td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
>
[#if POWER_WARNING<>""#]
<span class="label label-[#POWER_WARNING#]"><i class="glyphicon glyphicon-flash"></i> [#BATTERY#]%</span>
[#endif#]

</td>

 <td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
>[#SELECTVENDOR#]</td>
 <td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
>[#SELECTTYPE#]</td>
 <td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
> [#LOCATION#] </td>
 <td
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
>[#GROUP#]</td>

 <td 
[#if LOST#] style="color:lightgray;font-weight:bold"[#endif#]
> [#if FIND!=""#]


[#FIND#]

[#else#] &nbsp; [#endif#]</td>









<td>

  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=view_mqtt&id=[#DEVID#]&tab=edit_device" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
   <a href="?view_mode=view_mqtt&id=[#DEVID#]&tab=edit_data" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-list-alt"></i></a>
    <a href="?view_mode=delete_dev&id=[#DEVID#]" onClick="return confirm('<#ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="Delete from Majordomo"<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
    <a href="?view_mode=delete_dev_z2m&id=[#DEVID#]&ieee=[#IEEEADDR#]" onClick="return confirm('<#ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="Unpair device from zigbee2mqtt"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>  

</tr>
[#end DEVICES#]
</tbody>
</table>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->

[#endif DEVICES#]
<!-- / results -->
</td></tr></table>

