
<!-- Table 'mqtt' edit -->
<p align=center>
 <a href="?">&lt;&lt;&lt; <#LANG_BACK#></a>
</p>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<!-- TITLE (varchar) -->


     <div class="form-group">
     <label class="control-label"> <#LANG_TITLE#>: (*)</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#TITLE#]" name="dev_title" >
     <div class="input-group-btn">
     </div> </div> </div>


     <div class="form-group">
     <label class="control-label"> MODEL:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MODEL#]" name="model" disabled >
     <div class="input-group-btn">
     </div> </div> </div>



     <div class="form-group">
     <label class="control-label"> TYPE:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#TYPE#]" name="type" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label">MODELNAME:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MODELNAME#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>





     <div class="form-group">
     <label class="control-label">VENDOR:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#VENDOR#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>



     <div class="form-group">
     <label class="control-label">DESCRIPTION</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#DESCRIPTION#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label">EXTEND:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#EXTEND#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label">SUPPORTS:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#SUPPORTS#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>





     <div class="form-group">
     <label class="control-label"> IEEADDR:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#IEEADDR#]" name="ieeaddr" disabled>
     <div class="input-group-btn">
     </div> </div> </div>



     <div class="form-group">
     <label class="control-label"> NWKADDR:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#NWKADDR#]" name="nwkaddr" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> MANIFID:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MANIFID#]" name="manifid" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> MANUFNAME:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MANUFNAME#]" name="manufname" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> POWERSOURCE:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#POWERSOURCE#]" name="powesource" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> MODELID:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MODELID#]" name="modelid" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> STATUS:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#STATUS#]" name="status" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> DID:</label>
     <div class="col-md-4 input-group">
     <input type="text" class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#DID#]" name="did" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> FIND:</label>
     <div class="col-md-4 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#FIND#]" name="find" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

[#if !IS_SET_LOCATION_ID#]
<div class="form-group">
 <label class="control-label"[#if ERR_LOCATION_ID#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LOCATION#>:
 </label>



<div class="controls">
 <select name="dev_location_id"  class="form-control input">
  <option value="">select
  [#begin LOCATION_ID_OPTIONS#]<option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
  [#end LOCATION_ID_OPTIONS#]
 </select>
</div>
</div>



[#endif IS_SET_LOCATION_ID#]



<div class="form-group">
 <label class="control-label">
 LOCATION_ID:
 </label>
 <div class="controls"><input  type="text" name="d_id" value="[#LOCATION_ID#]" class="form-control input"></div>
</div>




<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-defaul btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>


<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="update_device">
<input type="hidden" name="mode" value="update">


</div>
</fieldset>
</form>

