<link rel="stylesheet" href="../templates/zigbee2mqtt/css/bootstrap-select.min.css">

<!-- Table 'mqtt' edit -->
<p align=center>
 <a href="?">&lt;&lt;&lt; <#LANG_BACK#></a>
</p>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<!-- TITLE (varchar) -->

<table border=0 width=100% ><tr><td width=60%>
     <div class="form-group">
     <label class="control-label"> ID</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#ID#]" name="id" disabled>
     <div class="input-group-btn">
     </div> </div> </div>


     <div class="form-group">
     <label class="control-label"> <#LANG_TITLE#>: (*)</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#TITLE#]" name="dev_title" >
     <div class="input-group-btn">
     </div> </div> </div>


     <div class="form-group">
     <label class="control-label"> MODEL:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MODEL#]" name="model" disabled >
     <div class="input-group-btn">
     </div> </div> </div>



     <div class="form-group">
     <label class="control-label">MODELNAME:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MODELNAME#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

<div class="form-group">
 <label class="control-label"[#if ERR_LOCATION_ID#] style="color:red;font-weight:bold"[#endif#]>
 SELECTTYPE:
 </label>



<div class="col-md-6 input-group">



 <select name="selecttype"  class="selectpicker show-tick form-control">
[#if SELECTTYPE=""#]
<option ></option > [#else#]
<option data-content="<img src='../templates/zigbee2mqtt/img/[#SELECTTYPE#].jpg' width='40' height='40'> [#VENDOR#]: [#SELECTTYPE#]" value="[#SELECTTYPE#]" ></option>
<optgroup label="Zigbee">
[#endif#]

  [#begin SELECTTYPEARRAY#]

<!--<option data-content="<img src='../templates/zigbee2mqtt/img/[#model#].jpg' width='40' height='40'> [#vendor#]: [#model#]" value="[#model#]" [#if DEVICE_TYPE="<#SELECTTYPE#>"#] selected[#endif#]></option>-->
<option data-content="<img src='../templates/zigbee2mqtt/img/[#model#].jpg' width='40' height='40'> [#vendor#]: [#model#]" value="[#model#]" ></option>

 [#end SELECTTYPEARRAY#] 
</optgroup>
 </select>

</div>
</div>




	
     <div class="form-group">
     <label class="control-label">VENDOR:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#VENDOR#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>



     <div class="form-group">
     <label class="control-label">DESCRIPTION</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#DESCRIPTION#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>


[#if !IS_SET_LOCATION_ID#]
<div class="form-group">
 <label class="control-label"[#if ERR_LOCATION_ID#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LOCATION#>:
 </label>



<div class="col-md-6 input-group">
 <select name="dev_location_id"  class="form-control input">
  <option value="">select
  [#begin LOCATION_ID_OPTIONS#]<option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
  [#end LOCATION_ID_OPTIONS#]
 </select>
</div>
</div>



[#endif IS_SET_LOCATION_ID#]



<div class="form-group">
 <label class="control-label">
 LOCATION_ID:
 </label>
 <div class="col-md-6 input-group"><input  type="text" name="d_id" value="[#LOCATION_ID#]" class="form-control input"></div>
</div>


</td><td valign="top">


[#if MODELNAME#]
<img src="../templates/zigbee2mqtt/img/[#MODELNAME#].jpg"   class="img-rounded" height="300" width="300">
[#endif#]
<!--
[#if TITLE="bridge"#]
<img src="../templates/zigbee2mqtt/img/cc2531.jpg"  height="300" width="300" class="img-rounded">
[#endif#]
-->

</td></tr>
</table>

<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-defaul btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>


<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="update_device">
<input type="hidden" name="mode" value="update">


</div>
</fieldset>
</form>

<script>

var script = document.createElement('script');
script.src = "../templates/xiaomimiio/css/bootstrap-select.min.js"
document.body.appendChild(script);

script.onload = function() {
	// после подгрузки js-файла перерисуем элемент select
	$('.selectpicker').selectpicker('render');
}

</script>
