<script type="text/javascript" src="/3rdparty/d3/d3.min.js"></script>
<script type="text/javascript" src="/3rdparty/hammer/hammer.min.js"></script>
<script type="text/javascript" src="/3rdparty/svg-pan-zoom/svg-pan-zoom.min.js"></script>


<div>
<table>
<tr>
<td>


   <a href="?view_mode=get_map_graph" class="btn btn-default" title="Get graphviz (https://www.graphviz.org/)" ><i class="glyphicon glyphicon-dashboard"></i> Get graphviz</a>

</td><td>

     <div style="{height: 10px;width: 100px;}">
<!-- <p {height: 10px;width: 100px;}> [#GRAPH#] </p> -->
<!--     <input type="text"   placeholder="<#LANG_OW_CITYNAME#>" title="https://www.graphviz.org/" value="[#GRAPH#]"  disabled> -->


     </div>




</td>

</td>



</div>

<table width="100%" border=1>
<tr><td>
<!--<p style="width:100%;" id="target_anchor2">Graphwiz: </p>-->
<p id="target_anchor2" class="svg_content">Graphwiz: </p>
</td></tr> </table>

 <script src="/templates/zigbee2mqtt/webgraphviz/viz.js" charset="utf-8"></script> 
<!-- <script src="http://www.webgraphviz.com/viz.js" charset="utf-8"></script>;    -->
<script>
//   var dot_source = 'digraph { rankdir="LR"; bgcolor="transparent"; a -> b -> c -> e; b -> d -> e -> a; }';
//   var dot_source = 'digraph G {node[shape=record];  "0x00124b001938dc6d" [style="bold", label="{0x00124b001938dc6d|Coordinator|No model information available|online}"];  ';
 var dot_source = '[#GRAPH#];';
    var elem = document.getElementById("target_anchor2");
    elem.innerHTML = Viz(dot_source, "svg");
</script>


<!--[#map_array#]
<br>
[#EDGES#]
-->
<!doctype html>
<html>
<head>
  <title>Network | Shapes</title>

  <style type="text/css">
    #target_anchor2 svg{
      width: 100%;
      border: 1px solid lightgray;
    }
  </style>

  <script type="text/javascript" src="/templates/zigbee2mqtt/vis-4.21.0/dist/vis.js"></script>
  <link href="/templates/zigbee2mqtt/vis-network.min.css" rel="stylesheet" type="text/css" />
<script type="application/javascript">

    function planZoom() {
        var zoom = $(window).width()/$("#target_anchor2 svg").first().width()*100;
        document.body.style.zoom = zoom+"%"
    }


    var panZoom=0;
    $(document).ready(function(){
        

        

        $('#target_anchor2').show();
        

        eventsHandler = {
            haltEventListeners: ['touchstart', 'touchend', 'touchmove', 'touchleave', 'touchcancel']
            , init: function(options) {
                var instance = options.instance
                        , initialScale = 1
                        , pannedX = 0
                        , pannedY = 0

                // Init Hammer
                // Listen only for pointer and touch events
                this.hammer = Hammer(options.svgElement, {
                    inputClass: Hammer.SUPPORT_POINTER_EVENTS ? Hammer.PointerEventInput : Hammer.TouchInput
                })

                // Enable pinch
                this.hammer.get('pinch').set({enable: true})

                // Handle double tap
                this.hammer.on('doubletap', function(ev){
                    instance.zoomIn()
                })

                // Handle pan
                this.hammer.on('panstart panmove', function(ev){
                    // On pan start reset panned variables
                    if (ev.type === 'panstart') {
                        pannedX = 0
                        pannedY = 0
                    }

                    // Pan only the difference
                    instance.panBy({x: ev.deltaX - pannedX, y: ev.deltaY - pannedY})
                    pannedX = ev.deltaX
                    pannedY = ev.deltaY
                })

                // Handle pinch
                this.hammer.on('pinchstart pinchmove', function(ev){
                    // On pinch start remember initial zoom
                    if (ev.type === 'pinchstart') {
                        initialScale = instance.getZoom()
                        instance.zoomAtPoint(initialScale * ev.scale, {x: ev.center.x, y: ev.center.y})
                    }

                    instance.zoomAtPoint(initialScale * ev.scale, {x: ev.center.x, y: ev.center.y})
                })

                // Prevent moving the page on some devices when panning over SVG
                options.svgElement.addEventListener('touchmove', function(e){ e.preventDefault(); });
            }

            , destroy: function(){
                this.hammer.destroy()
            }
        }

        var options = {
            zoomEnabled: true
            , controlIconsEnabled: true
            , customEventsHandler: eventsHandler
            , fit:1
        };

        var svgElement = $('#target_anchor2 svg')[0];
        panZoom=svgPanZoom(svgElement,options);


    });

    
</script>



<hr>        
<!--[#GRAPH#] -->

</html>





