<br>

   <a href="?view_mode=getgroupslist" class="btn btn-default" title="Get groups list from mqtt" ><i class="glyphicon glyphicon-refresh"></i> Get groups list from mqtt</a>
   <a href="?view_mode=getalldevicegroup" class="btn btn-default" title="Refresh group from all devices " ><i class="glyphicon glyphicon-refresh"></i> Refresh all devices</a>
<hr>
<form action="?" method="get" name="frmFilter">

 <div class="row">


 </div>
</form>

<br>


<table width=100% >

<tr>
 <th>ID </th>
 <th>Z2M_ID </th>
 <th>TITLE </th>
 <th>ADDED</th>


</tr>
</thead>
<tbody>
[#begin GROUPS#]
<tr>

 <td>[#ID#] </td>
 <td>[#Z2M_ID#] </td>
 <td>[#TITLE#] </td>
 <td>[#ADDED#] </td>
 <td>
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_group&id=[#DEVID#]&tab=edit_group" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_group&id=[#ID#]" onClick="return confirm('<#ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="Delete group"<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>

  [#endif ACTION#]
 </td>


<!--
<table border =0 width=100%><tr><td>
[#TITLE#]</td>
<td align="left">
[#if POWER_WARNING<>""#]
<span class="label label-[#POWER_WARNING#]"><i class="glyphicon glyphicon-flash"></i> [#BATTERY#]%</span>
[#endif#]
</td></tr></table>



</b>
</a>
-->


</tr>
[#end GROUPS#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_mqtt">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->

[#endif DEVICES#]
<!-- / results -->
</td></tr></table>

<hr>
