


<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

   <table  border="0">
    <tr>
     <td >
     File:
     <select name="file" id='file' onChange="document.frmEdit.submit();">
      <option value="[#FN#]">[#FN#]
      [#begin FILES#]
      <option value="[#TITLE#]">[#TITLE#]
      [#end FILES#]
     </select>
     </td>

	<td>


<!--<button type="submit" name="subm" value="Submit" class="btn btn-primary" >Open</button> -->

<input type="hidden" name="view_mode" value="update_log">
<input type="hidden" name="update_log" value="update_log">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="tab" value="log">

</fieldset>
</form>






     </td>

    </tr>
</table>


[#FN#]:<br><hr>
[#LOG#]


