

<!--<table width=100% > -->
<table  align=center class="table table-striped" >
<thead>

 <th>TOPIK </th>
 <th>MESSAGE </th>
 <th>ADDED</th>

</thead>
<tbody> 
[#begin LOG2#]
<tr>
 <td>[#TITLE#]</td>
 <td><span  title="Type: [#TYPE#] Topic:[#TITLE#]">[#MESSAGE#] </span></td>
 <td width="10%">[#FIND#] </td>
</tr>
[#end LOG2#]
</tbody> 
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_mqtt">

<!-- / search results (list) -->
<!-- paging -->

<!-- / paging -->



 <a href="?view_mode=clearlog" class="btn btn-default">Очистить</a>
<!-- / results -->
</td></tr></table>

<hr>


