

DEVICE_ID: [#ID#]
&nbsp;


&nbsp;

<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
[#if TREE="1"#]
<ul>
 [#begin RESULT#]
 <li style="list-style-type: none">
  [#if ID!=""#]

  [#if TITLE!=""#]<b>&bull;</b>&nbsp;[#endif#]<a href="?view_mode=edit_mqtt&id=[#ID#]" title="[#PATH#]">[#if TITLE=""#]<b>&bull;</b>&nbsp;[#else#][#TITLE#][#endif#]</a> <span id="mqtt[#ID#]" class="mqtt_value">[#VALUE#]</span>

  [#if LINKED_OBJECT!=""#]
<i>
([#LINKED_OBJECT#].[#LINKED_PROPERTY#])</i>[#endif LINKED_OBJECT#]
  [#else#]<b>&bull;&nbsp;[#TITLE#]</b>[#endif#]
  [#if RESULT#]<ul>[#tree RESULT#]</ul>[#endif RESULT#]
 </li>
 [#end RESULT#]
</ul>
[#else TREE#]
<table   class="table table-stripped">
<thead>
<tr>
 <th>
 <a href="?sortby_mqtt=TITLE&save_qry=1"><#LANG_TITLE#></a><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr>
 </th>
 <th>
 <#LANG_UPDATED#>
 </th>
 <th>
 <#LANG_VALUE#>
 </th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr>
 <td>

   [#ID#]

 </td>



 <td>
  <b>
   [#METRIKA#]
  </b>[#if PATH!=""#]<br>[#PATH#][#endif#]
  [#if LINKED_OBJECT!=""#]<br/><i>[#LINKED_OBJECT#].[#LINKED_PROPERTY#]</i>[#endif LINKED_OBJECT#]
 </td>
 <td
   >
  [#if UPDATED!=""#]
   [#UPDATED#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td
 >
  <span id="mqtt[#ID#]" class="mqtt_value">[#VALUE#]</span>
  [#if LINKED_OBJECT!=""#]([#LINKED_OBJECT#].[#LINKED_PROPERTY#])[#endif LINKED_OBJECT#]
 </td>
 <td width="1%" nowrap>
  
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_mqtt&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_mqtt&id=[#ID#]&redirectid=" onClick="return confirm('<#ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
[#endif TREE#]
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->
<script type="text/javascript">
 var valuesUpdateTimeout=0;
 function getLatestValues() {
  clearTimeout(valuesUpdateTimeout);
  var ids='';
  $('.mqtt_value').each(function () {
   ids+='ids[]='+this.id.replace('mqtt','')+'&';
  });
  var url='/ajax/mqtt.html?op=getvalues&'+ids;
  $.ajax({
   url: url
  }).done(function(data) {
   var obj=jQuery.parseJSON(data);
   if (obj.DATA.length>0) {
    for(var i=0;i<obj.DATA.length;i++) {
     var item_id=obj.DATA[i].ID;
     var value = obj.DATA[i].VALUE;
     var oldValue=$('#mqtt'+item_id).html();
     $('#mqtt'+item_id).html(value);
     if (value!=oldValue) {
      $("#mqtt"+item_id).fadeTo(100, 0.1).fadeTo(200, 1.0);
     }
    }
   }
   valuesUpdateTimeout = setTimeout('getLatestValues()',2000);
  });
 }
 valuesUpdateTimeout = setTimeout('getLatestValues()',2000);
</script>

 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
