<hr>

   <a href="?view_mode=srv_start" class="btn btn-default" title="Start zigbee2mqtt service" ><i class="glyphicon  glyphicon-play"></i>Start </a>
   <a href="?view_mode=srv_stop" class="btn btn-default" title="Stop zigbee2mqtt service" ><i class="glyphicon glyphicon-pause"></i>Stop </a>
   <a href="?view_mode=srv_restart" class="btn btn-default" title="Restart zigbee2mqtt service" ><i class="glyphicon glyphicon-refresh"></i>Restart </a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?view_mode=resetznp" class="btn btn-default" title="Resets the ZNP (CC2530/CC2531)" ><i class="glyphicon glyphicon-refresh"></i> Reset ZNP</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <hr> -->




   <a href="?view_mode=updatedb"   class="btn btn-default" title="Manual update device metrics after update this module" ><i class="glyphicon glyphicon-refresh"></i>Update metrics</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<!--   <a href="?view_mode=refresh_db" class="btn btn-default" title="Refresh config database" ><i class="glyphicon glyphicon-refresh"></i> Refresh database.db</a> -->
<!--   <a href="?view_mode=refresh_db" class="btn btn-default" title="Refresh config database" ><i class="glyphicon glyphicon-refresh"></i> Refresh database.db</a> -->
   <a href="?view_mode=refresh_mqtt" class="btn btn-default" title="Refresh device list mqtt" ><i class="glyphicon glyphicon-refresh"></i> Refresh devices</a>
<br><hr>
   <a href="?view_mode=getgroupslist" class="btn btn-default" title="Get groups list from mqtt" ><i class="glyphicon glyphicon-refresh"></i> Get groups list from mqtt</a>
   <a href="?view_mode=getalldevicegroup" class="btn btn-default" title="Refresh group from all devices " ><i class="glyphicon glyphicon-refresh"></i> Refresh all devices</a>

<br><hr>
   <a href="?view_mode=disablestrict" class="btn btn-default" title="Disable STRICT_TRANS_TABLES for MySQL" ><i class="glyphicon glyphicon-refresh"></i> Disable STRICT_TRANS_TABLES for MySQL</a>
   <a href="?view_mode=enablestrict" class="btn btn-default" title="Enable STRICT_TRANS_TABLES for MySQL" ><i class="glyphicon glyphicon-refresh"></i> Enable STRICT_TRANS_TABLES for MySQL</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Current: [#if strict="enable"#] <span class="label label-danger" ><font color="white" >Enable</span></font>  [#else#] 	<span class="label label-success"><font color="white" >Disable</span></font>[#endif#]
 [#stricta#]


<br><hr>
[#begin gwstatus#]

   <a href="?view_mode=startpairing&gw=[#PERMITNAME#]" class="btn btn-default" title="Start pairing" ><i class="glyphicon glyphicon-refresh"></i>Start pairing mode [#PERMITNAME#]</a>
   <a href="?view_mode=stoppairing&gw=[#PERMITNAME#]" class="btn btn-default" title="Stop pairing" ><i class="glyphicon glyphicon-refresh"></i>Stop pairing mode [#PERMITNAME#] </a>
[#end gwstatus#]



<br><hr>
[#begin gwstatus#]

   <a href="?view_mode=touchlink&gw=[#PERMITNAME#]" class="btn btn-default" title="Start touchlink mode" ><i class="glyphicon glyphicon-refresh"></i>Touchlink mode for [#PERMITNAME#]</a>
[#end gwstatus#]






   <!--
   <a href="?view_mode=getgroupslist" class="btn btn-default" title="Get groups list from mqtt" ><i class="glyphicon glyphicon-refresh"></i> Get groups list from mqtt</a>
   
   -->
   
<br><hr>



   <!--
   <a href="?view_mode=getgroupslist" class="btn btn-default" title="Get groups list from mqtt" ><i class="glyphicon glyphicon-refresh"></i> Get groups list from mqtt</a>
   
   -->
   
<br><hr>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>




    
        <table width=100%>
<tr><td width=70%>
   
MQTT MESSAGE PATH: <input type="text"  class="form-control"  value="[#PATH#]" name="mqttsendpath" >
VALUE:<input type="text"  class="form-control"  value="[#VALUE#]" name="mqttsendvalue" >
     
     
<div class="form-actions">
 </td><td>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" name="subm" value="SEND"  class="btn btn-default" >SEND</button>
 

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="send_test_mqtt">
<input type="hidden" name="mode" value="update">

</fieldset>
</form>     
</div> 
</td></tr>
</table>
<hr>

Service:
[#status#]
