
<!-- Table 'mqtt' edit -->
<p align=center>
 <a href="?">&lt;&lt;&lt; <#LANG_BACK#></a>
</p>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<!-- TITLE (varchar) -->

<table border=0 width=100% ><tr><td width=60%>

     <div class="form-group">
     <label class="control-label"> TYPE:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#TYPE#]" name="type" disabled>
     <div class="input-group-btn">
     </div> </div> </div>


     <div class="form-group">
     <label class="control-label">EXTEND:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#EXTEND#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label">SUPPORTS:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#SUPPORTS#]" disabled>
     <div class="input-group-btn">
     </div> </div> </div>





     <div class="form-group">
     <label class="control-label"> IEEEADDR:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#IEEEADDR#]" name="ieeeaddr" disabled>
     <div class="input-group-btn">
     </div> </div> </div>



     <div class="form-group">
     <label class="control-label"> NWKADDR:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#NWKADDR#]" name="nwkaddr" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> MANUFID:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MANUFID#]" name="manufid" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> MANUFNAME:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MANUFNAME#]" name="manufname" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> POWERSOURCE:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#POWERSOURCE#]" name="powesource" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> MODELID:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#MODELID#]" name="modelid" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> STATUS:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#STATUS#]" name="status" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> DID:</label>
     <div class="col-md-6 input-group">
     <input type="text" class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#DID#]" name="did" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> FIND:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#FIND#]" name="find" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> PARRENT:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#PARRENTIEEEADDR#]" name="PARRENTIEEEADDR" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> LQI:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#LQI#]" name="lqi" disabled>
     <div class="input-group-btn">
     </div> </div> </div>


     <div class="form-group">
     <label class="control-label"> HWVERSION:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#HWVERSION#]" name="HWVERSION" disabled>
     <div class="input-group-btn">
     </div> </div> </div>

     <div class="form-group">
     <label class="control-label"> SWBUILDID:</label>
     <div class="col-md-6 input-group">
     <input type="text"  class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#SWBUILDID#]" name="SWBUILDID" disabled>
     <div class="input-group-btn">
     </div> </div> </div>







</td><td valign="top">


[#if MODELNAME#]
<img src="../templates/zigbee2mqtt/img/[#MODELNAME#].jpg"   class="img-rounded" height="300" width="300">
[#endif#]
<!--
[#if TITLE="bridge"#]
<img src="../templates/zigbee2mqtt/img/cc2531.jpg"  height="300" width="300" class="img-rounded">
[#endif#]
-->

</td></tr>
</table>

<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-defaul btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>


<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="update_device">
<input type="hidden" name="mode" value="update">


</div>
</fieldset>
</form>

